@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: "Montserrat";
}

:root {
  /* Modo Claro  */
  --bg-text-color: #b4bfffcc;
  --text-color: #336699;
  --icon-color: #4d80b0; 

  --button-bg-color: #4a148c;
  --button-active-text-color: #fff;
  --button-active-bg-color: #6a1b9a;
  --button-bg-color: linear-gradient(135deg, #99aff7 0%, #4e77ff 100%);
  --sidebar-background: linear-gradient(19deg, #aeadff 0%, #21d4fd 50%, #a3caff 100%);
  --home-background: linear-gradient(135deg, #b4bfff 0%, #21d4fd 100%);
  --about-background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%); 

  --sidebar-text-hover-color: #003366;
  --sidebar-icon-hover-color: #296199;
  --sidebar-active-text-color: #003366;
  --sidebar-active-icon-color: #003366;
  --sidebar-button-text-color: #003366;

  --home-h2-color: #1e1e1e; 
  --home-h6-color: #333333; 
  --home-button-color: #007acc;
  --home-button-hover-color: #005f99;

  --about-span-color: #2c2c2c; 
  --about-p-color: #333333; 
  --about-h6-color: #4b4b4b; 
  --about-button-text-color: #5c5c5c; 

  /* Modo Escuro  */
  --dark-bg-text-color: #242424cc; 
  --dark-text-color: #fffadf; 
  --dark-icon-color: #beb07a;
  
  --dark-button-hover-bg-color: #6a1b9a;
  --dark-button-active-text-color: #000;
  --dark-button-active-bg-color: #f5f5f5; 
  --dark-button-bg-color: linear-gradient(135deg, #4b3270 0%, #29123f 100%);
  --dark-sidebar-background: linear-gradient(to bottom, #0e0213 0%, #2a0840 40%, #3f1f54 80%, #1b0140 100%);
  --dark-home-background: linear-gradient(135deg, #401752 0%, #1b0130 100%);
  --dark-about-background: linear-gradient(135deg, #542f9a 0%, #3a4f7f 100%);

  --dark-sidebar-text-hover-color: #ca3600; 
  --dark-sidebar-icon-hover-color: #e57e00; 
  --dark-sidebar-active-text-color: #ca3600; 
  --dark-sidebar-active-icon-color: #ca3600;
  --dark-sidebar-button-text-color: #ca3600;

  --dark-home-h2-color: #c0c0c0; 
  --dark-home-h6-color: #d3d3d3; 
  --dark-home-button-color: #732993;
  --dark-home-button-hover-color: linear-gradient(135deg, #6b51ab 0%, #765bbc 50%, #8471d1 100%);;

  --dark-about-span-color: #b0c4de; 
  --dark-about-p-color: #dcdcdc;
  --dark-about-h6-color: #d3d3d3;
  --dark-about-button-text-color: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: url('../src/assets/home.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-left: 300px; 
  flex: 1;
}

/* Componente Sidebar */
.sidebar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 300px; 
  height: 100%;
  background: var(--sidebar-background);
  padding: 20px;
  box-shadow: 2px 0 5px #0000001a;
  border-right: 2px solid #0000001a;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar .titulo {
  margin-top: 20px;
  font-weight: 600;
}

.sidebar .subtitulo {
  font-weight: 600;
  color: var(--text-color);
  background-color: var(--bg-text-color);
  box-shadow: 0 2px 2px 1px #494949;
  padding: 8px;
  border-radius: 16px;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0;
}

.sidebar nav ul li {
  margin: 10px 0 20px;
  width: max-content;
}

.sidebar nav ul li button {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  border: none;
  background-color: transparent;
  position: relative;
}

.sidebar nav ul li button:hover {
  color: var(--button-hover-bg-color);
}

.sidebar nav ul li button p {
  color: var(--text-color);
  margin: 0 0 0 10px;
  white-space: nowrap;
}

.sidebar nav ul li button:hover p {
  color: var(--sidebar-text-hover-color);
}

.sidebar button.active p {
  color: var(--sidebar-active-text-color);
  font-weight: bolder;
  filter: drop-shadow(1px 1px 4px #00336680);
}

.sidebar button .icon {
  color: var(--icon-color);
}

.sidebar button:hover .icon {
  color: var(--sidebar-icon-hover-color);
}

.sidebar button.active .icon {
  color: var(--sidebar-active-icon-color);
}

.sidebar nav ul li button,
.sidebar button p {
  transition: 0.2s;
}

.sidebar button .icon {
  width: 24px;
  height: 24px;
}

.sidebar nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.theme-toggle {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}

.footer-sidebar {
  font-size: small;
  text-align: center;
  font-weight: 500;
}

/* Foto de perfil */
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-pic {
  outline: 4px solid #000;
  animation: shineAndDecay 10s infinite;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

/* MODO ESCURO */
body.dark-mode {
  background: url('../src/assets/home-dark.svg');
  color: var(--dark-text-color);
}

body.dark-mode a {
  color: var(--dark-link-color);
}

body.dark-mode a:hover {
  color: var(--dark-link-hover-color);
}

body.dark-mode .sidebar {
  background: var(--dark-sidebar-background);
  border-right-color: var(--dark-background-color-opacity);
}

.dark-mode .sidebar button .icon {
  color: var(--dark-icon-color);
}

.dark-mode .sidebar button:hover .icon {
  color: var(--dark-sidebar-icon-hover-color);
}

.dark-mode .sidebar button.active .icon {
  color: var(--dark-sidebar-active-icon-color);
}

.dark-mode .sidebar button p {
  color: var(--dark-text-color);
}

.dark-mode .sidebar button:hover p {
  color: var(--dark-sidebar-text-hover-color);
}

.dark-mode .sidebar button.active p {
  color: var(--dark-sidebar-active-text-color);
}

.dark-mode .profile-pic {
  animation: shineAndDecayDark 10s infinite;
}

.dark-mode .sidebar .subtitulo {
  color: var(--dark-text-color);
  background-color: var(--dark-bg-text-color);
  box-shadow: 0 2px 2px 1px #000000;
}

.dark-mode .sidebar nav ul li button,
.dark-mode .sidebar button p {
  transition: 0.2s;
}

.dark-mode .home {
  background: var(--dark-home-background);
}

.dark-mode .home-title {
  color: var(--dark-home-h2-color);
}

.dark-mode .home-subtitle {
  color: var(--dark-home-h6-color);
}

.dark-mode .home Button {
  color: var(--dark-text-color);
  background-color: var(--dark-home-button-color);
}

.dark-mode .home Button:hover {
  background: var(--dark-home-button-hover-color);
  color: #f5f5f5;
}

.dark-mode .home Button:not(:hover) .home-button-icon {
  animation: rotateBackDark 2s forwards;
}

.dark-mode .home Button:hover .home-button-icon {
  animation: rotateButtonDark 2s forwards;
}

@keyframes rotateButtonDark {
  0% {
    transform: rotate(0deg);
    color: var(--dark-button-hover-bg-color);
  }
  100% {
    transform: rotate(225deg);
    color: var(--dark-sidebar-icon-hover-color);
  }
}

@keyframes rotateBackDark {
  0% {
    transform: rotate(225deg);
    color: var(--dark-button-hover-bg-color);
  }
  100% {
    transform: rotate(0deg);
    color: #fff;
  }
}

.dark-mode .about {
  background: var(--dark-about-background);
}

.dark-mode .about h4 {
  color: var(--dark-sidebar-text-hover-color);
  border-color: var(--dark-text-color);
}

.dark-mode .about p,
.dark-mode .about span,
.dark-mode .about h6,
.dark-mode .about button {
  color: var(--dark-text-color);
}

.dark-mode .about-container {
  background: var(--dark-home-background);
}

.dark-mode .curso button {
  background: var(--dark-button-bg-color);
  color: var(--dark-home-h6-color);
  border: 1px solid #000;
}

.dark-mode .curso button.active {
  background: var(--dark-home-button-hover-color);
  color: var(--dark-button-active-text-color);
  border: 1px solid var(--dark-button-active-bg-color);
  box-shadow: 0 0 2px #ffffff1a;
}

.dark-mode .curso-container {
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(151,41,247,1) 0%, rgba(24,22,39,1) 90% );
  border: 2px solid var(--dark-about-button-text-color);
}

.dark-mode .curso .container-name,
.dark-mode .graduacao h6 {
  border-bottom: 1px solid #ffffff80;
}

.dark-mode .graduacao-icon div {
  background: var(--dark-button-bg-color);
  outline: 1px solid var(--dark-sidebar-active-icon-color);
  color: var(--dark-sidebar-active-icon-color);
}


.dark-mode .skills {
  background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #2b114380 5%, #2b114380 10%, #250433 60%, #250433 80%);
  transition: background 0.5s ease;
}

.dark-mode .skills h4 {
  color: var(--dark-sidebar-text-hover-color);
  border-color: var(--dark-text-color);
}

.dark-mode .skills h5,
.dark-mode .skill-carousel-container {
  background: linear-gradient(270deg, #420a4b, #231027, #51005d, #d7bdff);
  background-size: 400% 400%;
  animation: nebulosa 15s ease infinite;
}

.dark-mode .skill-carousel-container {
  background: rgba(0, 0, 0, 0.25);
  background: linear-gradient(270deg, #420a4b, #231027, #51005d, #d7bdff);
  background-size: 400% 400%;
}

.dark-mode .skill-item.selecionado .skill-icon {
  filter: drop-shadow(0px 12px 4px rgba(255, 255, 255, 0.2));
}

.dark-mode .skill-item {
  background: rgba(86, 86, 86, 0.3);
}

.dark-mode .skill-item svg.selecionado {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.dark-mode .hint-container {
  background: var(--dark-sidebar-background);
}

.dark-mode .hint-icon {
  color: #ca3600;
  outline: 1px solid #4d0f80;
  background: radial-gradient(circle, #d58484 0%, #3f1f54 20%, #2a0840 40%);
}

.dark-mode .hint-icon path {
  filter: drop-shadow(0px 0px 5px #ffffff);
}

/* App.js */
.App {
  display: flex;
  height: 100vh;
}

/* animações */

@keyframes shineAndDecay {
  0% {
    box-shadow: 1px 1px 12px 10px #ffd700; 
    outline: 4px solid #ffd700; 
  }
  25% {
    box-shadow: 1px 1px 10px 8px #ffa500; 
    outline: 4px solid #ffa500; 
  }
  40% {
    box-shadow: 1px 1px 12px 10px #ffd700;
    outline: 4px solid #ffd700;
  }
  50% {
    box-shadow: 1px 1px 8px 4px #8B4513; 
    outline: 4px solid #8B4513; 
  }
  65% {
    box-shadow: 1px 1px 8px 4px #000;
    outline: 2px solid #000;
  }
  75% {
    box-shadow: 1px 1px 12px 10px #ffd700;
    outline: 4px solid #ffd700; 
  }
  100% {
    box-shadow: 1px 1px 10px 8px #ffa500; 
    outline: 4px solid #ffa500; 
  }
}

@keyframes shineAndDecayDark {
  0% {
    box-shadow: 1px 1px 12px 10px #ffd700;
    outline: 4px solid #ffd700;
  }
  25% {
    box-shadow: 1px 1px 10px 8px #ff6a00;
    outline: 4px solid #ff6a00;
  }
  40% {
    box-shadow: 1px 1px 12px 10px #ffd700;
    outline: 4px solid #ffd700;
  }
  50% {
    box-shadow: 1px 1px 8px 4px #8B4513; 
    outline: 4px solid #8B4513; 
  }
  65% {
    box-shadow: 1px 1px 8px 4px #fff; 
    outline: 2px solid #fff; 
  }
  75% {
    box-shadow: 1px 1px 12px 10px #ffd700;
    outline: 4px solid #ffd700;
  }
  100% {
    box-shadow: 1px 1px 10px 8px #ff6a00; 
    outline: 4px solid #ff6a00;
  }
}

/* HOME */
.home-title {
  color: var(--home-h2-color);
}

.home-subtitle {
  color: var(--home-h6-color);
}

.home Button {
  background-color: var(--home-button-color);
}

.home Button:hover {
  background-color: var(--home-button-hover-color);
}

.home-button-icon {
  transition: transform 2s ease, color 2s ease;
}

.home Button:not(:hover) .home-button-icon {
  animation: rotateBack 2s forwards;
}

.home Button:hover .home-button-icon {
  animation: rotateButton 2s forwards;
}

@keyframes rotateButton {
  0% {
    transform: rotate(0deg);
    color: #007acc;
  }
  100% {
    transform: rotate(225deg);
    color: #00f2fe;
  }
}

@keyframes rotateBack {
  0% {
    transform: rotate(225deg);
    color: #007acc;
  }
  100% {
    transform: rotate(0deg);
    color: #fff;
  }
}

/* ABOUT */
.about h4 {
  color: var(--sidebar-text-hover-color);
  border-color: var(--button-bg-color);
  border-width: 4px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 4px;
}

.about-center {
  margin: 20px auto;
}

.about p,
.about span,
.about h6,
.about button {
  color: var(--text-color);
}

.about-container {
  background-color: #b4bfff;
}

.curso button {
  background: var(--button-bg-color);
  color: var(--sidebar-button-text-color);
  border: 1px solid var(--button-active-bg-color);
}

.curso button:hover {
  opacity: 0.75;
  filter: brightness(1.2);
}

.curso button.active {
  background: var(--button-active-bg-color);
  color: var(--button-active-text-color);
  border: 1px solid #fff;
  box-shadow: 0 0 2px #0000001a;
}

.curso-container {
  background: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  border: 2px solid #420079;
}

.graduacao-icon div {
  background: var(--button-bg-color);
  outline: 1px solid var(--sidebar-active-icon-color);
  color: var(--sidebar-active-icon-color);
}

.curso-carousel li {
  display: flex;
  justify-content: space-around;
}

.curso-carousel button {
  margin: 0 -12px;
}

.lista {
  margin: 32px 0;
}

/* SKILLS */
.skills {
  width: 100%;
  height: 100vh;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 2;
  background: radial-gradient(circle at var(--x, 50%) var(--y, 50%), #4a7bac80 0%, #4a7bac80 10%, #3d9eff 80%);
  transition: background 0.5s ease;
}

.skills h4 {
  color: var(--sidebar-text-hover-color);
  border-color: var(--button-bg-color);
  border-width: 4px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 4px;
}

.skills h5 {
  display: inline;
  background: linear-gradient(270deg, #dd00ff, #00d4ff, #4b0082, #dd00ff);
  background-size: 400% 400%;
  padding: 5px 20px 3.5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 4px;
  position: relative;
  animation: nebulosa 15s ease infinite;
}

.skill-icon-container {
  position: relative;
  z-index: 5;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-icon-container svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.skill-icon {
  transition: transform 0.6s ease-in-out;
}

.skill-item.selecionado .skill-icon {
  animation: float 2.5s ease-in-out infinite;
  filter: drop-shadow(0px 12px 4px rgba(0, 0, 0, 0.2));
  margin-top: 8px;
}

.skill-item.nao-selecionado .skill-icon {
  animation: rotate 1s ease-in-out forwards;
}

.skills-carousels {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-hint {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-carousel-container {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(270deg, #dd00ff, #00d4ff, #4b0082, #dd00ff);
  background-size: 400% 400%;
  animation: nebulosa 15s ease infinite;
}

.skill-carousel-container ul {
  display: flex;
  margin: 0 20px;
}

.skill-carousel-container button {
  margin: -20px;
}

.skill-item {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 0 20px;
  border: 2px solid;
  transition: 0.3s;
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.skill-item svg.selecionado {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.front-end-skills,
.back-end-skills,
.tools-skills {
  width: 600px;
  border-radius: 10px;
  padding: 16px;
  padding-top: 0;
}

@keyframes nebulosa {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(0);
  }
}

/* PROJECTS */

.projects {
  margin-top: 0;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
}

.projects h4 {
  color: var(--sidebar-text-hover-color);
  border-color: var(--button-bg-color);
  border-width: 4px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 4px;
}

.project-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.project-carousel-container {
  background-color: #000;
  margin-bottom: 32px;
  border-radius: 16px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-carousel-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  gap: 16px;
  margin-bottom: 32px;
  padding: 2px 8px;
  background-color: #fff;
  border-radius: 8px;
}

.carousel ul li {
  display: flex;
  margin: 0 20px;
}



/* HINT */

.hint-container {
  width: 300px;
  height: 150px;
  background: linear-gradient(to bottom left, #ffd700 0%, #ffd700 50%, #ffa500 100%);
  box-sizing: border-box;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  filter: drop-shadow(1px 1px 3px #000);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.hint-container .hint-icon {
  width: 100%;
}

.hint-icon {
  color: #ffd700;
  outline: 1px solid #c2c50c;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: radial-gradient(circle, #e4ffa4 0%, #fbff0e 20%, #ffd700 40%);
}

.hint-icon path {
  filter: drop-shadow(0px 0px 5px #000000);
}

.hint-text {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.2;
  animation: scroll-vertical 10s linear infinite;
}

.hint-text p {
  position: absolute;
  white-space: nowrap;
  padding-top: 5px;
  vertical-align: middle;
}

.about-hint {
  height: 200px;
  margin-bottom: 20px;
  margin-right: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}