@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  font-family: "Montserrat";
}

:root {

  /* modo padrão (claro) */
  --primary-color: #D9534F;
  --secondary-color: #fff;
  --background-color: #0f0414;
  --text-color: #000;
  --link-color: #14041c;
  --link-hover-color: #2a0fc7;

  --primary-color-opacity: rgba(217, 83, 79, 0.7); 
  --secondary-color-opacity: rgba(245, 166, 35, 0.7); 
  --background-color-opacity: rgba(203, 255, 255, 0.7);
  --text-color-opacity: rgba(0, 0, 0, 0.7); 
  --link-color-opacity: rgba(217, 83, 79, 0.7); 
  --link-hover-color-opacity: rgba(245, 166, 35, 0.7);

  /* modo escuro */
  --dark-primary-color: #C0392B;
  --dark-secondary-color: #000;
  --dark-background-color: #14041c;
  --dark-text-color: #F5F5F5;
  --dark-link-color: #adadad;
  --dark-link-hover-color: #E74C3C; 

  --dark-primary-color-opacity: rgba(192, 57, 43, 0.7); 
  --dark-secondary-color-opacity: rgba(231, 76, 60, 0.7);
  --dark-background-color-opacity: rgba(21, 16, 16, 0.7);
  --dark-text-color-opacity: rgba(245, 245, 245, 0.7); 
  --dark-link-color-opacity: rgba(192, 57, 43, 0.7); 
  --dark-link-hover-color-opacity: rgba(231, 76, 60, 0.7); 
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background: url('../src/assets/home.svg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color);
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  margin-left: 300px; 
  padding: 20px;
  flex: 1;
}

/* Componente Sidebar */
.sidebar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 300px; 
  height: 100%;
  background: linear-gradient(19deg, #c677fe 0%, #21d4fd 50%, #b721ff 100%);;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 2px solid var(--background-color-opacity);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar .titulo {
  margin-top: 20px;
  font-weight: 600;
}

.sidebar .subtitulo {
  font-weight: 500;
  color: #000;
  background-color: #b4bfff;
  opacity: 80%;
  box-shadow: 0 2px 2px 1px #494949;
  padding: 8px;
  border-radius: 16px;
}

.sidebar nav ul {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0;
}

.sidebar nav ul li {
  margin: 10px 0 20px;
}

.sidebar nav ul li button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
  width: max-content;
  border: none;
  background-color: transparent;
}

.sidebar nav ul li button:hover {
  color: var(--link-hover-color);
}

.sidebar nav ul li button p {
  margin: 0 0 0 10px;
}

.sidebar nav ul li button:hover p {
  color: #fff;
}

/* .sidebar button.active {
  
} */

.sidebar nav {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.theme-toggle {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}

.footer-sidebar {
  font-size: small;
  text-align: center;
  font-weight: 500;
}

/* Foto de perfil */
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-pic {
  outline: 4px solid #000;
  animation: shineAndDecay 10s infinite;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

/* Modo escuro */
body.dark-mode {
  background: url('../src/assets/home-dark.svg');
  color: var(--dark-text-color);
}

body.dark-mode a {
  color: var(--dark-link-color);
}

body.dark-mode a:hover {
  color: var(--dark-link-hover-color);
}

body.dark-mode .sidebar {
  background: linear-gradient(to bottom, #12031a 0%, #3a0b54 40%, #50276b 80%, #24014b 100%);
  border-right-color: var(--dark-background-color-opacity);
}

.dark-mode .sidebar button {
  color: var(--dark-link-color);
}

.dark-mode .sidebar button:hover {
  color: var(--dark-link-hover-color);
}

.dark-mode .sidebar button:hover p {
  color: var(--dark-text-color);
}

.dark-mode .profile-pic {
  animation: shineAndDecayDark 10s infinite;
}

.dark-mode .sidebar .subtitulo {
  color: var(--dark-text-color);
  background-color: #cd3300;
  box-shadow: 0 2px 2px 1px #000000;
}

/* App.js */
.App {
  display: flex;
  height: 100vh;
}

/* Textos e links */
p {
  margin-bottom: 15px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

ul, ol {
  margin-bottom: 15px;
  padding-left: 20px;
}

/* animações */

@keyframes shineAndDecay {
  0% {
    box-shadow: 1px 1px 12px 10px #FFD700; 
    outline: 4px solid #FFD700; 
  }
  25% {
    box-shadow: 1px 1px 10px 8px #FFA500; 
    outline: 4px solid #FFA500; 
  }
  40% {
    box-shadow: 1px 1px 12px 10px #FFD700;
    outline: 4px solid #FFD700;
  }
  50% {
    box-shadow: 1px 1px 8px 4px #8B4513; 
    outline: 4px solid #8B4513; 
  }
  65% {
    box-shadow: 1px 1px 8px 4px #000;
    outline: 2px solid #000;
  }
  75% {
    box-shadow: 1px 1px 12px 10px #FFD700;
    outline: 4px solid #FFD700; 
  }
  100% {
    box-shadow: 1px 1px 10px 8px #FFA500; 
    outline: 4px solid #FFA500; 
  }
}

@keyframes shineAndDecayDark {
  0% {
    box-shadow: 1px 1px 12px 10px #FFD700;
    outline: 4px solid #FFD700;
  }
  25% {
    box-shadow: 1px 1px 10px 8px #ff6a00;
    outline: 4px solid #ff6a00;
  }
  40% {
    box-shadow: 1px 1px 12px 10px #FFD700;
    outline: 4px solid #FFD700;
  }
  50% {
    box-shadow: 1px 1px 8px 4px #8B4513; 
    outline: 4px solid #8B4513; 
  }
  65% {
    box-shadow: 1px 1px 8px 4px #fff; 
    outline: 2px solid #fff; 
  }
  75% {
    box-shadow: 1px 1px 12px 10px #FFD700;
    outline: 4px solid #FFD700;
  }
  100% {
    box-shadow: 1px 1px 10px 8px #ff6a00; 
    outline: 4px solid #ff6a00;
  }
}

/* HOME */
